body{font-family: Arial, Helvetica, sans-serif; background-color: #87ceeb; color: #363630;} 
h1, h2, h3{color: #3026b3;}
.evenrow{background-color: #9370d8;}
h1{font-size: 1em;}
h1{font-size: 2em;}
a:hover{color: #ff7f50;}
a:visited{color: #00008b;}
nav{background-color: #f0fff0; text-align: center;}
nav a{color: #8a2be2;}
nav a:hover{background-color: #b0c4de;}
nav{padding: 10px;}
nav{margin-bottom: 30px;}
.banner{width: 100%;}
.banner{max-width: 100%;}
@media only screen and (max-width: 600px){nav {display: flex;}} 
nav{flex-direction: column; align-items: flex-start;}
nav{padding: 1rem;}
@media only screen and (max-width: 600px){span {display: none;}}
.navlink{padding: .5rem;}
#skip{position:absolute; left: -999px; background-color: black; padding: 5px; color: white;}
#skip:focus{left:10px}